@import "font";
@import "base";
@import "layout";
@import "modules/example";
@import "modules/_cta.scss";
@import "modules/_card.scss";
body {
  display: flex;
  flex-direction: column;
  margin: 50px;
  gap: 36px;
  font-family: Montserrat;
}
